@page "/contact"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["contactPageTitleStr"]</h1>

<p>@localizer["contactPageLastModStr"]</p>

<!-- <p>@localizer["contactPageWelcomeStr"]</p> -->
@code {

}