@page "/donate"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["donatePageTitleStr"]</h1>

<p>@localizer["donatePageLastModStr"]</p>

@code {

}