@page "/legalaffairs"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["legalPageTitleStr"]</h1> <!-- Legal Affairs -->

<p>@localizer["legalPageLastModStr"]</p>

@code {

}