@page "/project2"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["project2PageTitleStr"]</h1>

<p>@localizer["project2PageLastModStr"]</p>

@code {

}