@page "/proj2About"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["aboutTitlePageStr"]</h1>

<p>@localizer["aboutPageLastModStr"]</p>

@code {

}