@page "/proj3Package1"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["proj3Package1TitleStr"]</h1>

<p>@localizer["proj3Package1LastModStr"]</p>

@code {

}