@page "/proj3Package3"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["proj3Package3TitleStr"]</h1>

<p>@localizer["proj3Package3LastModStr"]</p>

@code {

}