@page "/project3"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["project3PageTitleStr"]</h1>

<p>@localizer["project3PageLastModStr"]</p>

@code {

}