@page "/proj1OpenPackages1SubNavStr"
@inject IStringLocalizer<Resource> localizer

<!-- <h3>TermsOfServicePage</h3> -->
<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["Proj1OpenPackages1TitlePageStr"]</h1>

<p>@localizer["Proj1OpenPackages1PageLastModStr"]</p>

@code {

}