@page "/proj1privacypolicy"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["privacyPageTitleStr"]</h1>

<p>@localizer["Proj1PrivacyPageLastModStr"]</p>

@code {

}