@page "/proj3TandCon"
@inject IStringLocalizer<Resource> localizer

<!-- <h3>TermAndCondPage</h3> -->
<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["TaConTitlePageStr"]</h1>

<p>@localizer["TaConPageLastModStr"]</p>

@code {

}
