@page "/project1"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["project1PageTitleStr"]</h1>

<p>@localizer["project1PageLastModStr"]</p>

@code {

}