@page "/proj3TofServe"
@inject IStringLocalizer<Resource> localizer

<!-- <h3>TermsOfServicePage</h3> -->
<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["TofServTitlePageStr"]</h1>

<p>@localizer["TofServPageLastModStr"]</p>

@code {

}