@page "/proj2Eula"
@inject IStringLocalizer<Resource> localizer

<!-- <h3>EndUserLicenseAgreementPage</h3> -->
<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["EulaTitlePageStr"]</h1>

<p>@localizer["EulaPageLastModStr"]</p>

@code {

}
