@page "/proj1CommonProbsUtf8SubNavStr"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["proj1CommonProbsUtf8SubNavTitleStr"]</h1>

<p>@localizer["proj1CommonProbsUtf8SubNavLastModStr"]</p>

@code {

}