@page "/project4"
@inject IStringLocalizer<Resource> localizer

<PageTitle>GustafU233C's GitHub Pages</PageTitle>

<h1>@localizer["project4PageTitleStr"]</h1>

<p>@localizer["project4PageLastModStr"]</p>

@code {

}