@inject IStringLocalizer<Resource> localizer

<b>@localizer["topRowLanguageSelectStr"]</b>

<select class="form-control" @bind="Culture" style="width:80px; margin-left:10px;">
    @foreach (var culture in cultures)
    {
            <option value="@culture">@culture.DisplayName</option>
    }
</select>

@code {
    [Inject]
    public NavigationManager NavManager { get; set; } = null!;

    [Inject]
    public IJSRuntime JSRuntime { get; set; } = null!;

    CultureInfo[] cultures = new[]
    {
        new CultureInfo("en-US"),
        new CultureInfo("fr-Fr")
    };

    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JSRuntime;
                js.InvokeVoid("blazorCulture.set", value.Name);
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
            }
        }
    }
}